<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<title>Wanted: Dead or Alive</title>
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<meta name="description" content="Have you seen this scoundrel?" />
	<meta name="keywords" content="" />
	<meta property="og:type" content="website"/> 
	<meta property="og:title" content="Wanted: Dead or Alive"/>
	<meta property="og:description" content="Have you seen this scoundrel?"/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:locale" content="en_US"/>
	<meta property="fb:admins" content="1343225522, 13301678">
	<link rel="icon" href="favicon.png" type="image/ico" />

	<link href='http://fonts.googleapis.com/css?family=Smokum' rel='stylesheet' type='text/css'>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
	<script src="/javascripts/main.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
	
	
</head>
<body>
  
  <!-- social links loaded asynchronously -->
  <div id="social_block"></div>
  
  <div id="loading">loading...</div>
  <div id="failed" style="display:none">
    sorry, but you need to be logged into facebook.
  </div>
  
  <div id="success" style="display:none">
  <div id="poster_inner">
  <h1>Wanted</h1>
  <h2>Dead or Alive</h2>
  <div id="userimage"><img src="test.jpeg"></div>
  <h3>Nate Gross</h3>
  <h4>Scoundrel</h4>
  </div>
  <div id="warn"><a href="#">Warn your friends…</a></div>
  <div id="about"><a href="#">?</a></div>
  </div>
  
  <!-- facebook code -->
  <%= erb :facebook %>
  
  <!-- google analytics -->
  <%= erb :google %>
  
</body>
</html>
